*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$clr-home: #1704F4;
$crl-away: #DFE309;
$clr-red: #e60c0c;
$unit-sx: 10px;

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    text-transform: uppercase;
    height: 100%;
    height: 100vh;
    background-image: url(img/simon-godfrey-le2jhtu5xp0-unsplash.jpg);
    background-size: cover;
}

.score_board {
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: 130px repeat(3, 55px);
    grid-row-gap: 5px;
    align-items: stretch;
    text-align: center;
    width: fit-content;

    .team {
        grid-row: 2;
    }

    .time-cup-wrapper {
        grid-column: 2;
        grid-row: 1 / 3;
        align-self: flex-end;
        margin-bottom: -25px;
        transition: margin-bottom .2s ease-in;
        z-index: 3;

        .time {
            height: 55px;
        }
        
        .cup {
            margin: 0 auto;
        }

    }
    &:hover .time-cup-wrapper {
        margin-bottom: 0px !important;
    }

    

    .card {
        grid-row: 3;
        grid-column: 1 / -1;
        text-align: left;
        overflow: hidden;
        
    }
    .player {
        grid-row: 4;
        grid-column: 1 / -1;
        text-align: left;
    }

    &:hover .sub {
        
        position: relative;
        transition: .3s;
        transition-delay: .6s;
        visibility: visible;
        // z-index: 4;
        opacity: 1;

        &::after,
        &::before {
            height: 100%;
            visibility: visible;
        }

        &.card::after,
        &.card::before {
            animation: cardFadeDown .5s cubic-bezier(0.99, 0.38, 0, 0.92) forwards;
        }

        &.player::after, 
        &.player::before {
            animation: cardFadeDown .8s cubic-bezier(0.99, 0.38, 0, 0.92) forwards;
        }
    }
    

}

@keyframes cardFadeDown {
    0% {
        top: -30%;
    }
    10% {
        top: -20%;
    }
    30% {
        top: 0;
        width: 170px;
    }
    80% {
        width: 100%;
    }
    100% {
        z-index: -1;
        top: 0;
        width: 100%;
    }
}

.time {
    background-color: $clr-red;
    font-size: 2em;
    font-weight: bolder;
    color: white;
    letter-spacing: 3px;
}

.team__color{
    width: 10px;
}

.team {
    display: flex;

    &.away {
        flex-direction: row-reverse;
    }

    &.away &__color{
        background-color: $crl-away;
    }
    &.home &__color{
        background-color: $clr-home;
    }


    &__name {
        background: white;
        width: calc(70% - 10px);
        font-size: 2em;
        padding: 0 0.75rem;
        letter-spacing: 1.2px;
    }

    &__score {
        width: 30%;
        background-color: rgba(37, 37, 37, 0.5);
        color: white;
        font-weight: bold;
        font-size: 1.75em;
        display: grid;
        align-content: center;
    }
}

.sub {
    // display: grid !important;
        visibility: hidden;
        opacity: .5;
        &::after,
        &::before {
            content: '';
            width: 170px;
            position: absolute;
            left: 0;
            right: 0;
            background-color: inherit;
            margin: auto;
            
            z-index: -1;
        }

    &.card {
        font-weight: 300;
        font-size: 1.635em;
        display: grid;
        align-items: center;
        justify-content: space-evenly;
        background-color: #DFE309;
        letter-spacing: 1.2px;

        &::before,
        &::after {
            top: -58px;
        }

    }

    &.player {
        display: grid;
        grid-template-columns: 55px 1fr $unit-sx;
        background-color: $clr-home;
        
        .player__number {
            display: grid;
            place-content: center;
            color: white;
            font-weight: 600;
            font-size: 1.2em;
        }
        .player__name {
            background-color: white;
            display: grid;
            align-items: center;
            justify-content: flex-start;
            padding-left: 1rem;
            font-size: 2rem;
            font-weight: 300;
            letter-spacing: 2px;
        }

        &::before,
        &::after {
            top: -120px;
        }
    }
}



