*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  text-transform: uppercase;
  height: 100%;
  height: 100vh;
  background-image: url(img/simon-godfrey-le2jhtu5xp0-unsplash.jpg);
  background-size: cover;
}

.score_board {
  padding: 2rem 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (170px)[3];
      grid-template-columns: repeat(3, 170px);
  -ms-grid-rows: 130px (55px)[3];
      grid-template-rows: 130px repeat(3, 55px);
  grid-row-gap: 5px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.score_board .team {
  -ms-grid-row: 2;
  grid-row: 2;
}

.score_board .time-cup-wrapper {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: -25px;
  -webkit-transition: margin-bottom .2s ease-in;
  transition: margin-bottom .2s ease-in;
  z-index: 3;
}

.score_board .time-cup-wrapper .time {
  height: 55px;
}

.score_board .time-cup-wrapper .cup {
  margin: 0 auto;
}

.score_board:hover .time-cup-wrapper {
  margin-bottom: 0px !important;
}

.score_board .card {
  -ms-grid-row: 3;
  grid-row: 3;
  grid-column: 1 / -1;
  text-align: left;
  overflow: hidden;
}

.score_board .player {
  -ms-grid-row: 4;
  grid-row: 4;
  grid-column: 1 / -1;
  text-align: left;
}

.score_board:hover .sub {
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
  visibility: visible;
  opacity: 1;
}

.score_board:hover .sub::after, .score_board:hover .sub::before {
  height: 100%;
  visibility: visible;
}

.score_board:hover .sub.card::after, .score_board:hover .sub.card::before {
  -webkit-animation: cardFadeDown 0.5s cubic-bezier(0.99, 0.38, 0, 0.92) forwards;
          animation: cardFadeDown 0.5s cubic-bezier(0.99, 0.38, 0, 0.92) forwards;
}

.score_board:hover .sub.player::after, .score_board:hover .sub.player::before {
  -webkit-animation: cardFadeDown 0.8s cubic-bezier(0.99, 0.38, 0, 0.92) forwards;
          animation: cardFadeDown 0.8s cubic-bezier(0.99, 0.38, 0, 0.92) forwards;
}

@-webkit-keyframes cardFadeDown {
  0% {
    top: -30%;
  }
  10% {
    top: -20%;
  }
  30% {
    top: 0;
    width: 170px;
  }
  80% {
    width: 100%;
  }
  100% {
    z-index: -1;
    top: 0;
    width: 100%;
  }
}

@keyframes cardFadeDown {
  0% {
    top: -30%;
  }
  10% {
    top: -20%;
  }
  30% {
    top: 0;
    width: 170px;
  }
  80% {
    width: 100%;
  }
  100% {
    z-index: -1;
    top: 0;
    width: 100%;
  }
}

.time {
  background-color: #e60c0c;
  font-size: 2em;
  font-weight: bolder;
  color: white;
  letter-spacing: 3px;
}

.team__color {
  width: 10px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team.away {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.team.away .team__color {
  background-color: #DFE309;
}

.team.home .team__color {
  background-color: #1704F4;
}

.team__name {
  background: white;
  width: calc(70% - 10px);
  font-size: 2em;
  padding: 0 0.75rem;
  letter-spacing: 1.2px;
}

.team__score {
  width: 30%;
  background-color: rgba(37, 37, 37, 0.5);
  color: white;
  font-weight: bold;
  font-size: 1.75em;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sub {
  visibility: hidden;
  opacity: .5;
}

.sub::after, .sub::before {
  content: '';
  width: 170px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: inherit;
  margin: auto;
  z-index: -1;
}

.sub.card {
  font-weight: 300;
  font-size: 1.635em;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #DFE309;
  letter-spacing: 1.2px;
}

.sub.card::before, .sub.card::after {
  top: -58px;
}

.sub.player {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55px 1fr 10px;
      grid-template-columns: 55px 1fr 10px;
  background-color: #1704F4;
}

.sub.player .player__number {
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
}

.sub.player .player__name {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.sub.player::before, .sub.player::after {
  top: -120px;
}
/*# sourceMappingURL=style.css.map */